
body {
    background: url("../img/background.png") no-repeat center center fixed;
    color: white;
    padding-top:0px;
    background-size: cover;
    background-color: #444;
}

.form-group {
	width : 20%;
	margin: auto;
	padding-top:20%;
}

.form-group .form-control {
    height: auto;
    padding: 10px;
}

#id_email {
	margin-bottom: -1px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

#id_username {
	border-radius: 0px;
	border-radius: 0px;
	margin-bottom: -1px;
}

#id_password {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}


.login_button {
	border-color: rgba(255, 255, 255, 0.3) !important;
	background: rgba(255, 255, 255, 0.3) none repeat scroll 0% 0% !important;
	border-style: none !important; 
	color:white !important;
}

.signup_button {
	border-style: none !important; 
}

