* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* force scrollbar */
html { overflow-y: scroll; }

body {
    font-family: sans-serif;
}

.hotdeal-holder {
    margin-bottom:20px;
}

/* ---- isotope ---- */

.grid {
}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
    width: 275px;
    margin-bottom:10px;
    float: left;
}

.grid-item img {
    display: block;
    max-width: 100%;
}

.forms_submit_button {
    width : 100%;
    height: 45px;
    margin-top:10px;
    border-color: #529ECC;
    background: #529ECC none repeat scroll 0% 0%;
    border-style: none; 
    color:white;
    font-size:15pt;
    border-radius: 4px;
}

.right {
    float: right;
    margin:10px;
}

.alarm_message, .toast {
    padding-top:10px;
    padding-bottom:10px;
    margin-top:10px;
    text-align: center;
    color:white;
    background-color:rgba(0, 0, 0, 0.33);
}

.toast {
    width : 20%;
    margin: auto;
    margin-top:20px;
}

.container {
}

.tags ul {
    margin:0;
    list-style-type:none;
    -webkit-padding-start: 0px;
}

.tags .tag {
    display:inline;
}

/* Begin overlay item*/
.overlay-item {
    width:100%;
    position: relative;
    overflow: hidden;

    /* Only the -webkit- prefix is required these days */
    -webkit-transform: translateZ();
            transform: translateZ(0);
}

.overlay-item::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    transition: background .35s ease-out;
}

.overlay-item:hover::before {
    background: rgba(0, 0, 0, .5);
}

.overlay-media {
    display: block;
    min-width: 100%;
    max-width: 100%;
    height: auto;
}

.overlay-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: white;

    -webkit-transform: translateY(100%);
            transform: translateY(100%);

    transition: -webkit-transform .35s ease-out;
    transition:         transform .35s ease-out;
}

.overlay-item:hover .overlay-content {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

.overlay-title {
    -webkit-transform: translateY( -webkit-calc(-100% - 10px) );
            transform: translateY( calc(-100% - 10px) );

    transition: -webkit-transform .35s ease-out;
    transition:         transform .35s ease-out;
}

.overlay-item:hover .overlay-title {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

.overlay-content h3 {
    margin: 0;
    padding: 0 0 .5em;
}

/* End overlay item */

.form-group .form-control{
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.form-group .form-control:focus {
    z-index:3;
}
