<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
	<div class="navbar-header">
            <a class="navbar-brand" href="/">한양중고장터</a>
	</div>
	<ul class="nav navbar-nav navbar-right">
            <li>
		<a href="{% url 'write_post' %}">Write</a>
            </li>
	    <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ request.user.username }} <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/mypage">정보</a></li>
                    <li><a href="/logout">로그아웃</a></li>
                </ul>
            </li>
	</ul>
    </div>
</nav>
