{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{% endblock %}

{% block extra_links %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'css/preview.css' %}">
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" src="{% static 'js/masonry.pkgd.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/imageloaded.pkgd.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}

{% block header %}
  {% include 'nav.html' %}
{% endblock %}
